body {
  text-align: center;
  background: rgba(0, 0, 0, 0.63);
}

.control {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;
  border: none;
  background: none;
  color: rgb(14, 73, 133);
  font-size: 60px;
  padding: 10px;
  transition: color 0.3s ease-out;
}

button:hover {
  color: dodgerblue;
}

span {
  font-size: 60px;
  padding: 0 10px;
  color: white;
}

img {
  width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}

img:hover {
  opacity: 1;
}
